/*****hanu*****/
/* #hanu(e871d461930b46f7) #css starts */
.headere871d461930b46f7 .letter img{
    max-height: 50px;
    max-width: 100px
}
.headere871d461930b46f7 .navbar-light .navbar-nav .nav-link {
    color: #343030
}
.headere871d461930b46f7 .navbar-light .navbar-nav .nav-link:hover {
    color: #091a23
}
.headere871d461930b46f7 .btnregister{
    background-color: #2D3092;
    border-radius: 0px;
    color: #fff
}
/* #hanu(e871d461930b46f7) #css ends */
/*****hanu*****/

/*****hailey*****/ 
/* #hailey(b4ddd9e9eed437a92) #css starts  */
.headerb4ddd9e9eed437a92 .logo {
    display: none
}
.headerb4ddd9e9eed437a92 .logo-header .btn {
    color: #fff;
    background-color:  #2D3092;
    border: none;
    border-radius: 0px;
    padding: 6px 12px;
    font-weight: bolder
}
.headerb4ddd9e9eed437a92 .logo-header .btn:hover {
    color: #FFF;
    background-color:  #2D3092;
    border-color: #2D3092
}
@media (min-width: 992px) {
    .headerb4ddd9e9eed437a92 .logo-header h2 {
        font-size: 44px
    }
    .headerb4ddd9e9eed437a92 .logo-header p {
        font-size: 20px
    }
}
/* #hailey(b4ddd9e9eed437a92) #css ends  */
/*****hailey*****/ 

/*****faciano*****/ 
/* #faciano(facianLRAkZ5pXHfmy7YA) #css starts  */
.facianLRAkZ5pXHfmy7YA .fdb-block{
    padding: 5.5rem 0;
}
.facianLRAkZ5pXHfmy7YA h1{
    font-size: 2rem
}
.facianLRAkZ5pXHfmy7YA h2{
    font-size: 1.25rem;
    color: #343030
}
.facianLRAkZ5pXHfmy7YA .fdb-block .lead{
    font-size: 1.125rem;
}

.facianLRAkZ5pXHfmy7YA .fdb-block p a{
    color: #2D3092;
    font-weight: bolder
}
/* #faciano(facianLRAkZ5pXHfmy7YA) #css ends  */
/*****faciano*****/ 

/*****cash*****/
    /* #cash(c1486b52e923e265f) #css starts  */
    .counterc1486b52e923e265f {
        padding: 5.5rem 0
    }
    .counterc1486b52e923e265f h2{
    color: #2D3092;
    margin-top: 10px;
    font-weight: 600
    }
    .counterc1486b52e923e265f .BG{
        background-color:#fff 
    }
    .counterc1486b52e923e265f .fa{
        margin-top: 10px;
        font-size: 32px
    }
    /* #cash(c1486b52e923e265f) #css ends  */
/*****cash*****/

/*****fila*****/
/* #fila(filafe9c6aurswl) #css starts */
.filafe9c6aurswl .fdb-block {
    padding: 5.5rem 0
}
     .filafe9c6aurswl .fdb-block .fdb-touch {
      border-top: none;
    }
    .filafe9c6aurswl .fdb-block h1 {
        font-size: 32px
    }
    .filafe9c6aurswl .fdb-block h2 {
    font-size: 1.25rem;
    color: #343030
    }
    .filafe9c6aurswl .fdb-block p {
        font-size: 1.125rem;
    }
    .filafe9c6aurswl .fdb-block a {
    font-size: 1rem;
    color: #2D3092;
    font-weight: bolder
    }

/* #fila(filafe9c6aurswl) #css starts */
/*****fila*****/

/*****tanika*****/ 
/* #tanika(teamtmpxpt1wbh8) #css starts */
.teamtmpxpt1wbh8 .fdb-block {
    padding: 5.5rem 0
}
  .teamtmpxpt1wbh8 .fdb-block h1 {
    font-size: 32px;
    color: #343030
   }
   .teamtmpxpt1wbh8 .fdb-block .lead {
    font-size: 20px
   }
/* #tanika(teamtmpxpt1wbh8) #css ends */
/*****tanika*****/

/*****sammy*****/
    /* #sammy(ebfcf165e4ae5852) #css starts  */
    .serviceebfcf165e4ae5852 {
        padding: 5.5rem 0
    }

    .serviceebfcf165e4ae5852 .image {
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden
    }

    .serviceebfcf165e4ae5852 .image img{
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%
    }

    .serviceebfcf165e4ae5852 h2 {
        font-size: 44px;
        font-weight: 500 !important;
    }

.serviceebfcf165e4ae5852 .card-img-top {
    max-height: 50px;
    max-width: 50px;
    margin-left: 20px;
    margin-top: 20px
    }
    .serviceebfcf165e4ae5852 .card-title {
        font-size: 16px;
        margin-bottom: 15px;
    }
    
    /* #sammy(ebfcf165e4ae5852) #css ends  */
/*****sammy*****/

/*****tracey*****/ 
/* #tracey(testimonialcohi0ajeo7e) #css starts */
.testimonialcohi0ajeo7e{
    padding: 5.5rem 0
}

.testimonialcohi0ajeo7e .lead{
    font-size: 20px;
}

.testimonialcohi0ajeo7e .text-muted{
    color: #343030
}

/* #tracey(testimonialcohi0ajeo7e) #css ends */
/*****tracey*****/

/*****bartholomew*****/
/* #bartholomew(ec6cc8e186617bf6) #css starts  */
.blogec6cc8e186617bf6 {
  padding: 7.5rem 0
}

.blogec6cc8e186617bf6 .blog-home3 h3{
    font-size: 32px;
    color: #343030
}

.blogec6cc8e186617bf6 .blog-home3 .subtitle {
  color: #212529;
  line-height: 24px;
  font-size: 20px
}

.blogec6cc8e186617bf6 .blog-home3 .date-pos {
  font-size: 16px
}

.blogec6cc8e186617bf6 .blog-home3 .bg-success-gradient {
    background: linear-gradient(to right, #2D3092 0%, #1dc8cc 100%);
}

.blogec6cc8e186617bf6 .blog-home3 a.link {
    margin-left: 0px;
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    color: #212529
}

.blogec6cc8e186617bf6 .blog-home3 .card {
    box-shadow: none
  }

.blogec6cc8e186617bf6 .blog-home3 .card.card-shadow {
    box-shadow: none
  }

  .blogec6cc8e186617bf6 .container .row .card p{
    color: #212529
  }

.blogec6cc8e186617bf6 .blog-home3 .row .card h6{
    font-size: 16px
}

/* #bartholomew(ec6cc8e186617bf6) #css ends  */
/*****bartholomew*****/

/*****fanul*****/
    /* #fanul(b6c9fcc0294384085) #css starts */
    .footerb6c9fcc0294384085 footer {
        background: #fff
    }

    .footerb6c9fcc0294384085 .row .h3{
    font-size: 18px;
    font-weight: bold
    }

    .footerb6c9fcc0294384085 .row .text-white{
        color: #212529!important;
    }

    .footerb6c9fcc0294384085 .row h5{
        font-size: 18px

    }
    .footerb6c9fcc0294384085 .small{
        font-size: 16px
    }

    .footerb6c9fcc0294384085 .row  ul li a {
        color: #212529!important
    }

    .footerb6c9fcc0294384085 .form-control:focus {
        background: #BCDDFF
    }

    .footerb6c9fcc0294384085 .mini-footer {
        background: #343030
    }

    .footerb6c9fcc0294384085 .mini-footer p {
        font-size: 16px;
        color: #999
    }

    .footerb6c9fcc0294384085 .mini-footer p a {
        color: #BCDDFF
    }

    .footerb6c9fcc0294384085 .mini-footer p a:hover {
        color: #BCDDFF
    }

    /* #fanul(b6c9fcc0294384085) #css ends */
/*****fanul*****/